In [1]:
import os, sys

notebook_dir = os.getcwd()

#add path
sys.path.append(os.path.abspath(os.path.join(notebook_dir, '..')))

In [2]:
from scripts.load_data import *
from scripts.cleaning_and_EDA import *
from scripts.merge_datasets import *
from scripts.feature_create import *
from scripts.scaling_and_encoding import *

In [3]:
fra_data_path = '../../Data/Fraud_Data.csv'
IpAd_data_path = '../../Data/IpAddress_to_Country.csv'
cred_data_path = '../../Data/creditcard.csv/creditcard.csv'

loaded_data_fra = load_data(fra_data_path)
loaded_data_IpAd = load_data(IpAd_data_path)
loaded_data_cred = load_data(cred_data_path)

# loaded_data_fra.head(5)
# loaded_data_IpAd.head(5)
loaded_data_cred.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
print(loaded_data_fra.shape)
print(loaded_data_IpAd.shape)
print(loaded_data_cred.shape)

(151112, 11)
(138846, 3)
(284807, 31)

In [ ]:
print(loaded_data_fra.info())
print(loaded_data_IpAd.info())
print(loaded_data_cred.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138846 entries, 0 to 138845
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   lower_bound_ip_address  138846 non-null  float64
 1   upper_bound_ip_address  138846 non-null  int64
 2   country                 138846 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 3.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB
None

In [37]:
# Print null values to check if there's missing values
print(loaded_data_fra.isnull().sum())
print(loaded_data_IpAd.isnull().sum())
print(loaded_data_cred.isnull().sum())

user_id           0
signup_time       0
purchase_time     0
purchase_value    0
device_id         0
source            0
browser           0
sex               0
age               0
ip_address        0
class             0
dtype: int64
lower_bound_ip_address    0
upper_bound_ip_address    0
country                   0
dtype: int64
Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [4]:
loaded_data_fra = handle_missing_val(loaded_data_fra, strategy='impute', fill_value=0)
loaded_data_IpAd = handle_missing_val(loaded_data_IpAd)
loaded_data_cred = handle_missing_val(loaded_data_cred)

In [5]:
# Finding duplicates
print(loaded_data_fra.duplicated().sum())
print(loaded_data_IpAd.duplicated().sum())
print(loaded_data_cred.duplicated().sum())

0
0
1081

In [5]:
loaded_data_fra = data_cleaning(loaded_data_fra)
loaded_data_IpAd = data_cleaning(loaded_data_IpAd)
loaded_data_cred = data_cleaning(loaded_data_cred)

In [6]:
# This one had 1081 duplicates, now they are handled
print(loaded_data_cred.duplicated().sum())

0

In [7]:
# Merge datasets for geolocation analysis
merged_data = merge_geolocation_data(loaded_data_fra, loaded_data_IpAd)
merged_data

AttributeError: 'float' object has no attribute 'split'